html {
    
    font-size: 10px;
    
}
body {
    max-width: 1020px;
    margin-left: 250px;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 54px 3.9em;
}
#get-quote {
    height: 64.9em;
    background-color: #F06C64;
    color: #F0D8D9;
}
h1 {
    font-family: 'lato', sans-serif;
    font-size: 3em;
}
p {
    margin-top: 1em;
    font-family: 'lato', sans-serif;
    font-size: 1.8em;
    letter-spacing: -0.01em;
    word-spacing: -0.06em;
    line-height: 1.7em;
}
.contact {
    display: flex;
}
form {
    width: 62em;
    padding-top: 3.3em;

}
input {
    display:flex;
    background-color:#D6564F;
    width: 100%;
    height: 3em;
    padding: 12px 14px;
    margin: 8px 0;
    border: 1px solid #D6564F;
    border-radius: 6px;
    margin-bottom: 1em;
    
}
textarea {
    background-color: #D6564F;
    width: 100%;
    height: 15.2em;
    padding: 9px 14px;
    margin: 3px 0;
    border: 1px solid #D6564F;
    border-radius: 4px;
    resize: none;
    color: #F48C8F;
}

/*color and style for placeholders*/

::-webkit-input-placeholder {
    color: #F48C8F;
   font-family: 'lato', sans-serif;
   font-weight: 600;
   font-size: 12px;
letter-spacing: -0.01em;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #F48C8F;  
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
 letter-spacing: -0.01em;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #F48C8F;  
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
 letter-spacing: -0.01em;
 }
 
 :-ms-input-placeholder {  
    color: #F48C8F;  
    font-family: 'lato', sans-serif;
   font-weight: 600;
   font-size: 12px;
letter-spacing: -0.01em;
 }

 /*color and style for placeholders*/

 .contact-info {
    padding-top: 30px;
   
    padding-left: 20px ;
    margin: 7px 0;
 }
 h2 {
     font-family: 'lato';
     font-size: 18px;
     letter-spacing: 0.01em;
 }
 .contact-info p {
    margin-top: 5px;
     font-size: 13px;
     line-height: 1.7em;
     letter-spacing:-0.4px ;
 }

 .contact-info__links {
     padding-left: 2px;
     line-height: 1.8em;
     font-family: 'lato';
     font-size: 12px;
     font-weight: 600;
 }
 .contact-info__links span {
     padding-left: 7px;
 }
 
 #get-quote_bottom {
     height: 7px;
     background-color: #EA676B;
 }

 footer {
    height:7.7em;
    background-color: #2D303A;
    display: flex;
 }
 ul {
     display: flex;
     margin-top:-26px ;
     margin-left: 782px;
 }
 li {
     display: inline;
   
 }
.copyright {
    margin-top:-23px;
    margin-left: 1px;
}
 .circle {
     width: 33px;
     height: 33px;  
     border: 1px solid #666D89;
     border-radius: 50%;
     margin-left: 7px;
 }
 a img {
     margin-top: 9px;
     margin-left: 8px;
 }