html {
    
  font-size: 10px;
  
}
body {
  max-width: 1020px;
  margin-left: 250px;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.header_content {
  background-color: #2d303a;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
 padding-top: 26px;
 padding-left: 40px;
}
.logo {
  font-family: 'lato',sans-serif;
  font-weight: 500;
  font-size: 1.3em;
  letter-spacing: -0.1em;
}

.star {
  color: #f06c64;
}

.navigation {
  display: flex;
  margin-right: 26px;
  
}
.navigation_link {
  list-style: none;
  margin: 14.5px;
  cursor: pointer;
}
.navigation_link::after {
  content: ".";
  position: absolute;
  justify-self: center;
  top: 26px;
  color: white;
  margin: 8px;
  opacity: 0.4;
  cursor: initial;
}
.navigation_link:nth-child(5)::after {
  content: "";
}
.navigation_link:nth-child(1) a {
  color: #f06c64;
}
.navigation_link :active,
.navigation_link :hover {
  color: #f06c64;
}
.navigation_link a {
  font-family: 'lato',sans-serif;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.header_bottom {
  background-color: #323746;
  width: 100%;
  height: 7px;
}

.slider_top {
  height: 590px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #f06c64;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  width: 100%;
}

.slider_left .fa-chevron-right {
  transform: scale(-3);
  margin-top: 22em;
  width: 14px;
  height: 27px;
  color: #ca4549;
  cursor: pointer;
}
.slider_right .fa-chevron-right {
  transform: scale(3);
  margin-top: 27.5em;
  width: 14px;
  height: 27px;
  color: #ca4549;
  cursor: pointer;
}
.phones {
  position: relative;
}




.phone-vertical {
  position: absolute;
  left: -398px;
  top: 19px;
  box-shadow: - 10px 10px #ccc ;
}
.layer6 {
  position: absolute;
  top: 84px;
  left: -384px;
  box-shadow: 0 0 2px 2px #ccc; /* with blur shadow*/
box-shadow: 0 0 0 2px #ccc; /* without blur shadow*/
}
.shadow {
   position: absolute;
  opacity: 0.1;
  top: 19px;
  left: -398px;
  
}
.p1 {
  position: absolute;
  top: 36px;
  left: -294px;
  border: 1px solid #D8D8D8;
  box-shadow: 0 0 2px 2px #ccc; /* with blur shadow*/
box-shadow: 0 0 0 2px #ccc; /* without blur shadow*/
}

.p2 {
  position: absolute;
  top: 55px;
  left: -309px;
}
.p3 {
  position: absolute;
  top: 426px;
  left: -314px;
}
.p4 {
  position: absolute;
  top: 438px;
  left: -300px;
}


.phone-horizontal {
  position: absolute;
  transform: rotate(90deg);
  top: 17px;
  left: 34px;
}
.layer5 {
  position: absolute;
  top: 65px;
  left: 14px;
  box-shadow: 20px black;
  box-shadow: 0 0 2px 2px #ccc; /* with blur shadow*/
box-shadow: 0 0 0 2px #ccc; /* without blur shadow*/
}
.shadow2 {
  transform: rotateY(180deg);
  position: absolute;
  opacity: 0.1;
  top: -25px;
  left: 0px;
}
.n1 {
  position: absolute;
  top: 20px;
  right: 105px;
  box-shadow: 0 0 2px 2px #ccc; /* with blur shadow*/
box-shadow: 0 0 0 2px #ccc; /* without blur shadow*/
}
.n2 {
  position: absolute;
  top: 35px;
  right: 89px;
}
.n3 {
  position: absolute;
  top: 407px;
  right: 87px;
}
.n4 {
  position: absolute;
  top: 419px;
  left: 98px;
}

.pink_dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #eb5055;
}
.line {
  width: 37px;
  height: 5px;
  background-color: #acacac;
  border-radius: 3px;
}

.white_circle {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #fafafa;
}

.square {
  width: 18px;
  height: 18px;
  border: 2px solid #bababa;
  border-radius: 30%;
}
.slider_bottom {
  height: 7px;
  background-color: #EA676B;
}
.grid {
  height: 600px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: justify;
  display: grid;
  grid-column-gap: 30 / px;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    " services services services "
    "s1 s2 s3"
    "s4 s5 s6";
}

.our-services {
  height: 479px;
  background-color: #F2F2F2;
}
.services {
  grid-area: services;
  padding-top: 57px;
  padding-left: 7px;
}
.services h2 {
  font-family: 'lato', sans-serif;
  font-weight: 900;
  font-size: 30px;
}
.services p {
 word-spacing: -3.1px;
  padding-top: 5px;
  font-family: 'lato', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #767E9E;
  line-height: 30px;
}
.service {
  margin-left: 20px;
  width: 220px;
}
.service h4 {
  font-family: 'lato',sans-serif;
  font-size:18px;
  font-weight: 900;
}
.s1 {
  margin-top: -1px;
  margin-left: -18px;
  grid-area: s1;
  display: flex;
}
.s2 {
  margin-top: -1px;

  grid-area: s2;
  display: flex;
}
.s3 { margin-top:4px;
  margin-left: 22px;
  grid-area: s3;
  display: flex;
}
.s4 {
  margin-top: -16px;
  margin-left: -18px;
  grid-area: s4;
  display: flex;
}
.s5 {
  margin-top: -13px;
  grid-area: s5;
  display: flex;
}
.s6 {
  margin-left: 22px;
  margin-top: -16px;
  grid-area: s6;
  display: flex;
}

.circle {
  width: 59px;
  height: 59px;
  border-radius: 29px;

  border: 2px solid #666d89;
  margin-top: -49px;
  margin-left: -13px;
}
.our-services img {
  margin-top: 20px;
}
.s2 img {
  margin-left: 4px;
}
.s4 img {
  margin-left: 5px;
}

.services_icon {
  padding-left: 40px;
}



.logo {
  font-family: 'Lato',Verdana, serif;
  color: #FFFFFF;
  font
}

a {
  font-family: 'Lato',Verdana, Geneva, Tahoma, sans-serif;
font-size: 9px;
}
.our-services{
  color: #666D89;
}
services {
  font-family: 'Lato';
font-style: normal;
color: #666D89;
}

.service {
  font-family: 'Lato';
  color:#767E9E;
}