html {
    
    font-size: 10px;
    
}
body {
    max-width: 1020px;
    margin-left: 250px;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    padding: 54px 40px;
}
#get-quote {
    height: 64.9rem;
    background-color: #F06C64;
    color: #F0D8D9;
}
.contact {
    display: flex;
}

input {
    display:flex;
    background-color:#D6564F;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #D6564F;
    border-radius: 4px;
    
}
textarea {
    background-color: #D6564F;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #D6564F;
    border-radius: 4px;
    resize: none;
    color: #F48C8F;
}

/*color and style for placeholders*/

::-webkit-input-placeholder {
    color: #F48C8F;
    font-weight: 800;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #F48C8F;  
    font-weight: 800;
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #F48C8F;  
    font-weight: 800;
 }
 
 :-ms-input-placeholder {  
    color: #F48C8F;  
    font-weight: 800;
 }

 /*color and style for placeholders*/
