* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_content {
  background-color: #2d303a;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 30px;
}

.star {
  color: #f06c64;
}
.navigation {
  display: flex;
  margin-right: 30px;
}
.navigation_link {
  list-style: none;

  margin: 10px;
  cursor: pointer;
}
.navigation_link::after {
  content: ".";
  position: absolute;
  justify-self: center;
  top: 26px;
  color: white;
  margin: 8px;
  opacity: 0.4;
  cursor: initial;
}
.navigation_link:nth-child(5)::after {
  content: "";
}
.navigation_link :active,
.navigation_link :hover {
  color: #f06c64;
}
a {
  color: white;
  text-decoration: none;
}

.header_bottom {
  background-color: #323746;
  width: 100%;
  height: 7px;
}

.slider {
  height: 601px;
  background-color: #f06c64;
}

.slider_left {
}
.grid {
  height: 600px;
  padding-left: 32px;
  padding-right: 32px;
 text-align: justify;
  display: grid;
  grid-row-gap: 60px;
  grid-column-gap: 30/px;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    " services services services "
    "s1 s2 s3"
    "s4 s5 s6";
}
.pen {
  grid-area: pen;
}
.services {
  grid-area: services;
  margin-top:65px;
}
.service{
  margin-left: 20px;
  width: 220px;
 
}
.s1 {
  grid-area: s1;
  display: flex;
  
}
.s2 {
  grid-area: s2;
  display: flex;
}
.s3 {
  grid-area: s3;
  display: flex;

}
.s4 {
  grid-area: s4;
  display: flex;
}
.s5 {
  grid-area: s5;
  display: flex;
}
.s6 {
  grid-area: s6;
  display: flex;
}

.circle {
  width: 59px;
  height: 59px;
  border-radius: 29px;
  
  border: 2px solid #666d89;
  margin-top: -49px;
  margin-left: -13px;
}
 img {
  margin-top: 20px;
 }
.s2 img {
  margin-left: 4px;
}
 .s4 img{
   margin-left: 5px;
 }

 .services_icon  {
   padding-left: 40px;
 }