* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_content {
  background-color: #2d303a;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 30px;
}

.star {
  color: #f06c64;
}
.navigation {
  display: flex;
  margin-right: 30px;
  margin-bottom: 0;
}
.navigation_link {
  list-style: none;

  margin: 10px;
  cursor: pointer;
}
.navigation_link::after {
  content: ".";
  position: absolute;
  justify-self: center;
  top: 26px;
  color: white;
  margin: 8px;
  opacity: 0.4;
  cursor: initial;
}
.navigation_link:nth-child(5)::after {
  content: "";
}
.navigation_link :active,
.navigation_link :hover {
  color: #f06c64;
}
a {
  color: white;
  text-decoration: none;
}

.header_bottom {
  background-color: #323746;
  width: 100%;
  height: 7px;
  margin-top: 0ex;
}

.slider_top {
  height: 601px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: #f06c64;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.slider_left .fa-chevron-right {
  transform: rotateY(180deg);
  position: absolute;
  top: 378px;
  width: 16px;
  height: 27px;
  color: #ca4549;
}
.slider_right .fa-chevron-right {
  position: absolute;
  top: 378px;
  width: 16px;
  height: 27px;
  color: #ca4549;
}
.slider_phone-horizontal {
  position: relative;
}
.layer6 {
  position: absolute;
  top: 185px;
  left: 314px;
}
.p1 {
  position: absolute;
  top: 146px;
  left: 412px;
}
.p2 {
  position: absolute;
  top: 162px;
  left: 395px;
}
.p3 {
  position: absolute;
  top: 531px;
  left: 390px;
}
.p4 {
  position: absolute;
  top: 545px;
  left: 403px;
}

.slider_phone-horizontal {
  transform: rotate(90deg);
  
  top: -24px;
  right: 90px;
}
.base_phone1 {
  position: relative;
}
.layer5 {
  position: absolute;
  top: 59px;
  right: 15px;
}
.n1 {
  position: absolute;
  top: 22px;
  right: 105px;
}
.n2 {
  position: absolute;
  top: 35px;
  right: 89px;
}
.n3 {
  position: absolute;
  top: 404px;
  right: 87px;
}
.n4 {
  position: absolute;
  top: 544px;
  left: 456px;
}

.pink_dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #eb5055;
}
.line {
  width: 37px;
  height: 6px;
  background-color: #acacac;
  border-radius: 25%;
}

.white_circle {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #fafafa;
}

.square {
  width: 18px;
  height: 18px;
  border: 2px solid #bababa;
  border-radius: 30%;
}

.grid {
  height: 600px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: justify;
  display: grid;
  grid-row-gap: 60px;
  grid-column-gap: 30 / px;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    " services services services "
    "s1 s2 s3"
    "s4 s5 s6";
}

.services {
  grid-area: services;
  margin-top: 65px;
}
.service {
  margin-left: 20px;
  width: 220px;
}
.s1 {
  grid-area: s1;
  display: flex;
}
.s2 {
  grid-area: s2;
  display: flex;
}
.s3 {
  grid-area: s3;
  display: flex;
}
.s4 {
  grid-area: s4;
  display: flex;
}
.s5 {
  grid-area: s5;
  display: flex;
}
.s6 {
  grid-area: s6;
  display: flex;
}

.circle {
  width: 59px;
  height: 59px;
  border-radius: 29px;

  border: 2px solid #666d89;
  margin-top: -49px;
  margin-left: -13px;
}
.our-services img {
  margin-top: 20px;
}
.s2 img {
  margin-left: 4px;
}
.s4 img {
  margin-left: 5px;
}

.services_icon {
  padding-left: 40px;
}
